<a href="https://colab.research.google.com/github/rca32/pythoncs_2019/blob/master/03_%EB%A6%AC%EC%8A%A4%ED%8A%B82%2Cif%2Cfor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## list 관련 합수

- list.append(x) 
- list.extend(L) 
- list.insert(i,x) 
- list.remove(x)  
- list.pop([j]) - 
- list.clear()  
- list.index(x)  
- list.count(x)  
- list.sort(key=None,reverse=False)  
- list.copy()

In [0]:
motorcycles = [] 
motorcycles.append('honda') 
motorcycles.append('yamaha') 
motorcycles.append('suzuki') 
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [0]:

b = [7, 8, 9]
motorcycles.extend(b)

In [0]:
motorcycles.insert(0, 'ducati') 
print(motorcycles)

In [0]:
del motorcycles[0]
print(motorcycles)

['yamaha', 'suzuki', 7, 8, 9]

In [0]:
popped_motorcycle = motorcycles.pop(0) 
print(motorcycles) 
print(popped_motorcycle)

['yamaha', 'suzuki']
honda

In [0]:
motorcycles.remove("honda") 
print(motorcycles)

In [0]:
month = ['1991', '1984', '19995', '1995']
month.sort()
print(month)

['1984', '1991', '1995', '19995']

##For  구문

In [0]:
for i in month:
  print(f"{i}".rjust(40,"-"))

print("-".rjust(40,"-"))

In [0]:
words = ['cat', 'window', 'door', 'abcdefg']
for w in words:
    print(w, len(w))

In [0]:
for i in range(5):
    print(i)

In [0]:
range(5)

In [0]:
list(range(5))

In [0]:
for i in range(0, 10, 3):
    print(i, end = ', ')

In [0]:
for i in range(-10, -100, -30):
    print(i, end = ', ')

In [0]:
a = ['a', 'b', 'c', 'd', 'e']
for i in range(len(a)):
    print(i, a[i])

In [0]:
a = ['a', 'b', 'c', 'd', 'e']
for x in enumerate(a):
    print(x)

In [0]:
for (i, x) in enumerate(a):
    print(i, x)

# HomeWork

x를 입력 받고 다음을 구하시요.

힌트:python  built in fuction 검색


$$\text{sqsum}(x) = \sum_{1}^{x} x^{2}$$

In [0]:
#@title 기본 폼 { run: "auto" }
inputvalue = 3 #@param {type:"integer"}

def sqsum(x):
  print(x)

sqsum(inputvalue)

3

In [0]:
cars = ['audi', 'bmw', 'subaru', 'toyota']
for car in cars:
  if car == 'bmw':
    print(car.upper())
  else:
    print(car.title())

Audi
BMW
Subaru
Toyota

## continue,break

In [0]:
for n in range(1, 10):
    if n < 4:
        continue 
    print(n)  
    if n > 6:
        break

## while while,else

In [0]:

n = 0
while n < 5:  
    print(n)
    n = n + 1
    
print('fin')

In [0]:
n = 0
while n < 5:   
    print(n)
    n = n + 1
else:
    print('cuerpo else')
    
print('fin')

In [0]:
for n in range(5):  
    print(n)
    n = n + 1
else:
    print('cuerpo else')
    
print('fin')

0
1
2
3
4
cuerpo else
fin

## Conditional tests

In [0]:
car = 'bmw'
car == 'bmw'
car != 'bmw1'

In [0]:
car = 'Audi'
car == 'audi'

In [0]:
age_0 = 22
age_1 = 18
age_0 >= 21 or age_1 >= 21

True

In [0]:
requested_toppings = ['mushrooms', 'onions', 'pineapple']
'mushrooms' in requested_toppings

## Boolean Expressions

In [0]:
game_active = True
can_edit = False

## if,elif,else문 

```
if <expr>:
    <statement(s)>
elif <expr>:
    <statement(s)>
elif <expr>:
    <statement(s)>
    ...
else:
    <statement(s)>
    
    
>>> name = 'Joe'
>>> if name == 'Fred':
...     print('Hello Fred')
... elif name == 'Xander':
...     print('Hello Xander')
... elif name == 'Joe':
...     print('Hello Joe')
... elif name == 'Arnold':
...     print('Hello Arnold')
... else:
...     print("I don't know who you are!")
...
Hello Joe
```

**연습** 다음의 수학 함수를 작성하세용.

$$ \text{absval}(x) = \left\{ 
  \begin{array}{rr} 
    x  & \text{if } x > 0 \\
    0  & \text{if } x = 0 \\
    -x & \text{if } x < 0 
  \end{array}
   \right. $$

In [0]:
def absval(x):
  print(x)
  
absval(10)

10

## One-Line if Statements


```
if <expr>: <statement_1>; <statement_2>; ...; <statement_n>

>>> x = 2
>>> if x == 1: print('foo'); print('bar'); print('baz')
... elif x == 2: print('qux'); print('quux')
... else: print('corge'); print('grault')
...
qux
quux

```



```
<expr1> if <conditional_expr> else <expr2>
```

In [0]:
비가오는중 = False
print('도서관이나' if 비가오는중 else '해변에',"가요")

해변에 가요



```
>>> if a > b:
...     m = a
... else:
...     m = b
...

m = a if a > b else b
```

# HomeWork
**listExpand**를 다음과 같게 작동하게 작성 하세요**

힌트: type(x) == list

```
listExpand([1, 2, 3, 4]) ==> [1, 2, 3, 4]
listExpand([['a', ['b', 'c']], [1, 2, 3]]) ==> ['a', 'b', 'c', 1, 2, 3]
```